body{
	margin: 0px;
}
.header{
	display: flex;
	align-items: center;
	background: #B9E9E9;
	padding: 30px;
	border: solid;
}
h1{
	font-family: sans-serif;
}
.body{
	display: flex;
	justify-items: center;
	flex-wrap: wrap;
	background:#F2B5E1 ;
}
.body s{

}
h2{
	padding-left: 40px
     
}